/ohtu-palautus-viikko5/MockitoDemo/.nb-gradle/
/ohtu-palautus-viikko5/MockitoDemo/build/
/ohtu-palautus-viikko5/MatkakorttiMockito/.nb-gradle/
/ohtu-palautus-viikko5/MatkakorttiMockito/build/
/ohtu-palautus-viikko5/VerkkokauppaSpring/.nb-gradle/
/ohtu-palautus-viikko5/VerkkokauppaSpring/build/
/ohtu-palautus-viikko5/IntJoukkoSovellus/.nb-gradle/
/ohtu-palautus-viikko5/IntJoukkoSovellus/build/
/ohtu-palautus-viikko6/Laskin/.nb-gradle/
/ohtu-palautus-viikko6/Laskin/build/
/ohtu-palautus-viikko6/QueryLanguage/.nb-gradle/
/ohtu-palautus-viikko6/QueryLanguage/build/